[submodule "ansible/roles/ansible-netplan"]
	path = ansible/roles/ansible-netplan
	url = https://github.com/mrlesmithjr/ansible-netplan
[submodule "ansible/kubespray"]
	path = ansible/kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
[submodule "ansible/thinkcentre-cluster/kubespray"]
	path = ansible/thinkcentre-cluster/kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
