{
  _config+:: {
    certbot+:: {
      access_key_id: '',
      secret_access_key: '',
    },
    namefetcher+:: {
      api_token: '',
      uri: '',
    },
    mysql+:: {
      root_password: '',
    },
    grafana+:: {
      adminpass: '',
      adminuser: '',
      dbpass: '',
      dbuser: '',
      smtpemail: '',
      smtppass: '',
    },
    grafana_agent+:: {
      cortex_remote_write: [
        {
          basic_auth: {
            username: 1234,
            password: '',
          },
          url: 'https://prometheus-blocks-prod-us-central1.grafana.net/api/prom/push',
        },
      ],
    },
  },
}
