{
  _config+:: {
    certbot+:: {
      access_key_id: '',
      secret_access_key: '',
    },
    namefetcher+:: {
      api_token: '',
      uri: '',
    },
    mysql+:: {
      root_password: '',
      password: '',
      replication_password: '',
    },
    grafana+:: {
      adminpass: '',
      adminuser: '',
      dbpass: '',
      dbuser: '',
      smtpemail: '',
      smtppass: '',
    },
    grafana_agent+:: {
      cortex_remote_write: [
        {
          basic_auth: {
            username: 1234,
            password: '',
          },
          url: 'https://prometheus-blocks-prod-us-central1.grafana.net/api/prom/push',
        },
      ],
    },
    minio+:: {
      key: '',
      secret: '',
    },
    mqtt+:: {
      passwd: 'see https://mosquitto.org/man/mosquitto_passwd-1.html'
    },
    qnap+:: {
      rclone+:: {
        user: '',
        pass: '',
      }
    hosted_grafana_orgs+:: {
      <slugnamehere>: {
        slug: '',
        metrics_pub_key: '',
        hosted_metrics_tenant: 11111,
        hosted_metrics_host: 'prometheus-blocks-prod-us-central1.grafana.net',
        hosted_logs_tenant: 11111,
        hosted_logs_host: 'logs-prod-us-central1.grafana.net',
      },
    },
    blackpearl+:: {
      ovpn_uname: '',
      ovpn_pass: '',
    },
    mad+:: {
      maddev_api_token: '',
      madmin+:: {
        username: '',
        password: '',
      },
      mysql_mad+:: {
        username: '',
        password: '',
      },
      mysql_poracle+:: {
        username: '',
        password: '',
      },
      psql_nominatim+:: {
        username: '',
        password: '',
      },
      psql_exporter+:: {
        username: '',
        password: '',
      },
      discord_poracle+:: {
        token: '',
      },
    }
  },
}
