{
  _config+:: {
    namefetcher+:: {
      api_token: '',
      uri: '',
    },
    mysql+:: {
      root_password: '',
    },
    grafana+:: {
      adminpass: '',
      adminuser: '',
      dbpass: '',
      dbuser: '',
      smtpemail: '',
      smtppass: '',
    },
  },
}
